@using TMCoreV3.ViewModels.CustomerViewModels
@model  TMCoreV3.ViewModels.CustomerViewModels.CusotmerForm

<h3>Customized Customer edit template</h3>
<br />
@Html.HiddenFor(model => model.customerId)

<div>
    @Html.LabelFor(model => model.FirstName)
</div>
<div>
    @Html.EditorFor(model => model.FirstName)
    @Html.ValidationMessageFor(model => model.FirstName)
</div>

<div>
    @Html.LabelFor(model => model.LastName)
</div>
<div>
    @Html.EditorFor(model => model.LastName)
    @Html.ValidationMessageFor(model => model.LastName)
</div>

<div>
    @Html.LabelFor(model => model.Email)
</div>
<div>
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

